html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}

.rightheader h1 { 
color: purple;
margin: 0;
font-size: 3rem;

}
header {
    display: flex;
    flex-flow: wrap nowarp;
    justify-content: space-between;

}
.rightheader {
    flex-basis: 60%;
    margin-top: 3rem;
    margin-left: 0.5rem;
    
}
.rightheader p {
    margin-top: -0.3rem;
}

nav {
    text-align: center;
    border-top: 0.15rem solid rgb(245, 55, 86);
    border-bottom: 0.15rem solid brown;
    margin-bottom: 2rem;
}
nav ul {
list-style-type: none;
margin: 0.5 rem 0 1rem 0;
padding: 0;
display:flex;
flex-flow: column nowarp;
justify-content: center;

}
nav li {
    padding: 0 1rem 0 1rem;
    color: brown;
    margin: 0 0.5rem;
           
}
section {
    display: inline-flexbox;
    content: "";
    /* clear: both; */
    align-items: baseline;
}
article img {
    float: left;
    flex-basis: 40%;
    border-radius: 5%;
    margin: 0 0,1rem 0 0.2rem;
}
article p, h2 {
    flex-basis: 60%;
    clear: none;
    margin: 1rem 0 0 25%;
}
article {
    margin-bottom: 5rem;

}
.posted {
    font-size: 0.8rem;
    color: #89A611;
    
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: .4rem double brown;
}   
footer ul {
    list-style-type: none;
    display: flex;
	flex-flow: row nowrap;
	justify-content: center;
    

}
footer p {
text-align: center;

}
footer li {
    
    padding: 1px 1px 1px 1px;   
    
}   
