html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/fantasy.jpg);
	text-align: center;
	
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #96aab3bb;
	
}
p, [for="abtype"] {
	font-family: 'Space Mono', monospace;
	margin-bottom: 0;
	margin-top: 2rem;

}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border: 2px solid #B0B6BA;
	border-radius: 13%;
	margin-bottom: 2rem;
	
}
legend, h1, h3 {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	letter-spacing: 0.4rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	display: block;
	text-align: center;

}
label {
	display: block;
	font-family: 'Space Mono', monospace;
	padding-bottom: 0.3rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
	background-color: #151d20;
	color: aliceblue;
	border: none;
	border-radius: 15px;
	padding: 0.5rem 1rem;
}
button:hover {
	background-color: #F3FBFC;
	color: black;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;	
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
	margin-left: 26%;
}
iframe {
	margin-top: 1rem;
}




